body {
    background-color: lightgray;
}

.playerSelection {
    position: absolute;
    top: 300px;
    bottom: 300px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

button {
    background-color: black;
    color: white;
    border-style: solid;
    border-color:grey;
    border-radius: 5px;
    width: 250px;
    height: auto;
}

span {
    font-size: 24px;
}