body {
    background-color: lightgray;
}

.score-board {
    margin: 25px 100px 10px;
    padding: 0px 25px;
    display: flex;
    justify-content: space-evenly;
}

.your-score, .computer-score {
    text-align: center;
    font-size: 24px;
}

.score {
    font-size: 24px;
    height: 25px;
    width: 100px;
    text-align: center;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

.dialogue {
    height: auto;
    width: 300px;
    text-align: center;
    margin: 32px auto;
    font-size: 20px;
}

.player-selection {
    display: flex;
    justify-content: center;
    gap: 16px;
}

button {
    background-color: black;
    color: white;
    border-style: solid;
    border-color:grey;
    border-radius: 5px;
    width: 250px;
    height: auto;
}

span {
    font-size: 24px;
}

.round-result {
    height: auto;
    width: 200px;
    text-align: center;
    margin: 32px auto;
    font-size: 32px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
}